<div class="container text-center">
    <span>SI QUIERES BUSCAR ALGUN PRODUCTO ENTRA A NUESTRO CATÁLOGO </span>
    <a [routerLink]="['/catalogo']" class="btn btn-success fas fa-box-open"> CATÁLOGO</a>
    
</div>
<hr>
<h3 class="text-center" id="promociones">PROMOCIONES</h3>
<div class="row">
    <div class="col-lg-2" *ngFor="let item of promoprod2">
        <div class="card" id="promo">
            <div class="card-body">
                <div id="datos">
                   <span>Por solo: <br>{{item.precio | currency}}</span>
                    <br>
                    Pidelo ahora
                </div>
                <img src="https://cristyvariedades.com/php/producto{{item.img}}" width="100%"><hr id="p">
                <h6>{{item.nombre}}</h6>
                <b>Marca: </b>{{item.marca}} <br>
                <b>Categoría: </b>{{item.cate}} <br>
            </div>
        </div>
    </div>
</div>

<hr>
