<section class="content">
    <div class="container-fluid">
        <div class="error-page">
            <h2 class="headline" style="color: #17a2b8;"> 404</h2>
    
            <div class="error-content">
              <h3><i class="fas fa-exclamation-triangle text-warning"></i> Oops! Página no encontrada.</h3>
    
              <p>
                No pudimos encontrar la página que buscaba.
                Mientras tanto, puedes <a href="../../index.html">Retornar a la Página principal</a>
              </p>
    
              <!-- <form class="search-form">
                <div class="input-group">
                  <input type="text" name="search" class="form-control" placeholder="Search">
    
                  <div class="input-group-append">
                    <button type="submit" name="submit" class="btn btn-warning"><i class="fas fa-search"></i>
                    </button>
                  </div>
                </div>
                
              </form> -->
            </div>
            <!-- /.error-content -->
          </div>  
    </div>
</section>

