.error{
    color: brown;
}

.accion{
    cursor: pointer;
}



input, select, #basic-addon2, #lprecio{
    margin-top: 10px;
}

#botong, #cancelar{
  width: 100%;
}

h1{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

#ped{
    padding-left: 20px;
    padding-right: 20px;
}