input, select,button{
    margin-top: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
}

#formulariob, #productos{
    padding-left: 20px;
    padding-right: 20px;
}

#tproducto{
    font-size: 12px;
}