<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      <img src="../../../assets/img/logo.png" width="70%">
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-header"><b>MENÚ PRINCIPAL</b></li>
          <li class="nav-item">
            <a [routerLink]="['/dashboard']" class="nav-link">
              <i class="nav-icon fas fa-columns"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/caja']" class="nav-link">
              <i class="nav-icon fas fa-cash-register"></i>
              <p>Caja</p>
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/cate']" class="nav-link">
              <i class="nav-icon fas fa-certificate"></i>
              <p>Categorías</p>
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/cliente']" class="nav-link">
              <i class="nav-icon fas fa-users"></i>
              <p>Clientes</p>
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/compra']" class="nav-link">
              <i class="nav-icon fas fa-shopping-cart"></i>
              <p>Compras</p>
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/producto']" class="nav-link">
              <i class="nav-icon fas fa-box-open"></i>
              <p>Productos</p>
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/prov']" class="nav-link">
              <i class="nav-icon fas fa-headset"></i>
              <p>Proveedores</p>
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/venta']" class="nav-link">
              <i class="nav-icon fas fa-dollar-sign"></i>
              <p>Ventas</p>
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/usuario']" class="nav-link">
              <i class="nav-icon fas fa-user-cog"></i>
              <p>Usuarios</p>
            </a>
          </li>

          <li class="nav-header"><b>REPORTES</b></li>
          <li class="nav-item">
            <a [routerLink]="['/reporte']" class="nav-link">
              <i class="nav-icon fas fa-file-invoice"></i>
              <p>Reportes</p>
            </a>
          </li>
          
          <!-- <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-copy"></i>
              <p>
                Layout Options
                <i class="fas fa-angle-left right"></i>
                <span class="badge badge-info right">6</span>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="pages/layout/top-nav.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Top Navigation</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="pages/layout/top-nav-sidebar.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Top Navigation + Sidebar</p>
                </a>
              </li>
              
            </ul>
          </li> -->
          
          
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
