<div id="whatsapp">
  <a href="https://api.whatsapp.com/send/?phone=3206576626" target="_blank">
    <img src="../../../../assets/img/WhatsApp_icon.png" width="100%" alt="">
  </a>
</div>
<div id="menu" class="row">
    <div class="col-lg 2 text-center" id="logo">
        <img src="../../../../assets/img/Logo-02.png" width="90%" alt="sin imagen">
    </div>
    <div class="col-lg-5" id="nav">
        <nav class="navbar navbar-expand-lg">
          <div class="container-fluid">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link acti" aria-current="page" href="#"><span class="fas fa-home"></span> Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/catalogo']"><span class="fas fa-box-open"></span> Catálogo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#promociones"><span class="fas fa-percent"></span> Promociones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#https://api.whatsapp.com/send/?phone=3206576626" target="_blank"><span class="fas fa-envelope-open-text"></span> Contáctenos</a>
                </li>
              </ul>
              <!-- <div class="d-flex" role="search">
                
              </div> -->
            </div>
          </div>
        </nav>
    </div>
    <div class="col-lg-2">
        <div id="redes">
            <a href="# "class="btn btn-info fab fa-facebook-square" title="facebook"></a>
            <a href="#" class="btn btn-info fab fa-instagram-square" title="Instagram"></a>
            <!-- <a href="#" class="btn btn-success fas fa-shopping-cart" title="Carrito de compras">
              <sup><span id="num">0</span></sup>
            </a> -->
        </div>
    </div>
    <div class="col-lg-3" id="email">
      <span class="fas fa-envelope" title="Email"></span> contacto@cristyvariedades.com 
      <br>
      <span class="fab fa-whatsapp-square" title="Whatsapp"></span> +57 320-6576626 
    </div>
</div>
<hr>

