#body{
    background-image: url(../../../assets/img/fondologin.png);
    background-size: 100%;
    background-color: gray;
}

#login{
    background-color: pink;
    padding: 20px;
    background: rgba(0,0,0,0.3);
    color: white;
}