.error{
    color: brown;
}

.accion{
    cursor: pointer;
}

#formc, #formm{
    margin-top: 10px;
}

table{
    margin-top: 10px;
}

input, select, #basic-addon2, #lprecio{
    margin-top: 10px;
}

#botong, #cancelar{
  width: 100%;
}

h1{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.card{
    background-color: #e7e7e7;
    margin-right: 10px;
}

